.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;}
/* .college-banner{
  position: inherit;
  width: 100%;
  height:auto;
  left:0%;
  right:0%;
  margin-top:1%;
  margin-bottom: 360px;
} */