form {
  color:#AB9DF2;
  padding-top:20px;
}

label {
  margin-left: 10px
}

.button {
  margin-left: 10px;
}

a {
  color: #AB9DF2;
}

.grid {
  color: #AB9DF2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.campus-card {
  color:#AB9DF2
}
.defualt-icon {
  margin-top: 20px;
  width: 75px;
  height: auto
}

h3 {
  margin-top: 3px;
  margin-bottom: 10px;
  line-height: .5;
  text-decoration: underline;
}

